---
import * as Plot from "@observablehq/plot";
import PlotFigure from "../components/PlotFigure.astro";
import olympians from "../assets/olympians.json";
---

<h1>Olympians dataset</h1>

<PlotFigure
    options={{
        marks: [
            Plot.dot(olympians, {
                x: "weight",
                y: "height", 
                fill: "sex",
            }),
        ],
        x: { label: "Weight (kg)" },
        y: { label: "Height (cm)" },
    }}
/>

